* {
    margin: 0;
}

:root {
    --color1: #050505;
    --color2: #6E7271;
    --color3: #ACAD94;
    --color4: #D8D4D5;
    --color5: #E2E2E2;
}

@font-face {
    font-family: 'TitleFont';
    src: url('./fonts/Pacifico/Pacifico-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'navBarFont';
    src: url('./fonts/Lobster/Lobster-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--color4);
    height: 16vh;
    display: flex;
    justify-content: center;
}

h1 {
    align-self: center;
    font-size: 2.5em;
    font-family: 'TitleFont', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: var(--color4);
    height: 8vh;
    font-family: "navBarFont", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

li {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
}

li:hover {
    background-color: var(--color3);
}

a {
    color: var(--color1);
    font-size: 1.5em;
    display: flex;
    align-self: center;
}

main {
    background-color: var(--color5);
    height: 70vh;
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--color4);
    height: 6vh;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    align-self: center;
    
}

li.active {
    background-color: var(--color2);
}

main {
    overflow: auto;
}

/* styles for the main part of the page */

.mainSection {
    height: 98%;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    overflow: auto;
}

img {
    align-self: center;
    max-height: 50%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color2);
    margin: 1em;
    padding: 1em;
}

.menu-img {
    height: 100px;
    align-self: center;
    margin: 5px;
}